---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <main>
        <h1>
            <span class="text-gradient">About</span>
        </h1>
        <p class="instructions">
            This is a new page. You can add more content here.
		</p>
    </main>
</Layout>